.App {
  height: 100%;
  display: grid;
  grid-template-rows: 10% 80% 10%;
}

.Content {
  background: url(assets/eldtassensdark.png) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 100%;
}

.Container {
  margin: 1em 3em 1em 3em;
  line-height: 25px;
  overflow: scroll;
}

h1 {
  color: orange;
}

p {
  margin-bottom: 3em;
  text-align: justify;
}